<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center"> <%= titulo %> </h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th> Id </th>
							<th> Turno </th>
							<th> Hr. Entrada </th>
							<th> Hr. Salida </th>
							<th> Acción </th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < horario.length; i++) {
						var item = horario[i];
						%>
						<tr>
							<!-- <td><a href="/find_one/<%= item.id %>"> <%= item.id %> </a></td> -->
							<td> <%= item.id %> </td>
							<td> <%= item.turno %> </td>
							<td> <%= item.hora_entrada %> </td>
							<td> <%= item.hora_salida %> </td>
							<td>
								<a href="/buscar_horario/<%= item.id %>"> Actualizar </a>
								/
								<a href="/eliminar_horario/<%= item.id %>"> Eliminar </a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>