<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center"> <%= titulo %> </h4>
			<form class="form-inline" role= "form" action="/buscar_horario_por" method="get">
				<label class="my-1 mr-2"> Buscar por: </label>
				<select class="custom-select my-1 mr-sm-2" name="atributo">
					<option value="turno"> Turno </option>
					<option value="hora_entrada"> Hr. entrada </option>
					<option value="hora_salida"> Hr. salida </option>
				</select>
				<input type="text" class="form-control mr-sm-2" placeholder="..." name="valor">
				<button type="submit" class="btn btn-primary my-1"> Buscar </button>
			</form>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th> Id </th>
							<th> Turno </th>
							<th> Hr. Entrada </th>
							<th> Hr. Salida </th>
							<th> Acción </th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < horario.length; i++) {
						var item = horario[i];
						%>
						<tr>
							<!-- <td><a href="/find_one/<%= item.id %>"> <%= item.id %> </a></td> -->
							<td> <%= item.id %> </td>
							<td> <%= item.turno %> </td>
							<td> <%= item.hora_entrada %> </td>
							<td> <%= item.hora_salida %> </td>
							<td>
								<a href="/buscar_horario/<%= item.id %>"> Actualizar </a>
								/
								<a href="/eliminar_horario/<%= item.id %>"> Eliminar </a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>