<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center"> <%= titulo %> </h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th> Id </th>
							<th> Fecha </th>
							<th> Hora </th>
							<th> Causa </th>
							<th> Personal </th>
							<th> Acción </th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < sancion.length; i++) {
						var item = sancion[i];
						%>
						<tr>
							<!-- <td><a href="/find_one/<%= item.id %>"> <%= item.id %> </a></td> -->
							<td> <%= item.id %> </td>
							<td> <%= item.fecha.toISOString().substr(0, 10)  %> </td>
							<td> <%= item.hora %> </td>
							<td> <%= item.causa %> </td>
							<td> <%= item.personal %> </td>
							<td>
								<a href="/buscar_sancion/<%= item.id %>"> Actualizar </a>
								/
								<a href="/eliminar_sancion/<%= item.id %>"> Eliminar </a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>